<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
  package="org.booncode.android.loco"
  android:versionCode="2"
  android:versionName="0.2rc-1">
  
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
  
  <application android:label="@string/prog_name"
    android:icon="@drawable/hut_stalker_icon"
    android:theme="@android:style/Theme.NoTitleBar">
    
    <activity android:name=".MainActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop">
      
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <activity android:name=".BuddyListActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".BuddyActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".LocateBuddyListActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".GsmCellActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".CdmaCellActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".SettingsActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".FixNumberActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <activity android:name=".DirectAddActivity"
      android:screenOrientation="portrait"
      android:launchMode="singleTop"
    />
    
    <service android:name=".Stalker" />
    
    <service android:name=".SimCheckingService" />
      
    <receiver android:name=".MsgReceiver">
        <intent-filter android:priority="100">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
    </receiver>
    
    <receiver android:name=".BootLoader">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  
</manifest>
